@media (max-width: 655px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    footer {
        text-align: center;
        padding: 0.015px;
        background-color: #333;
        color: #fff;
    }
    header {
        background-color: #333333c8;
        color: #fff;
        text-align: center;
        padding: 0.015px;
    }
    h1 {
        font-size: 2.5em;
        margin: 0.5em;
    }
    h2 {
        text-align: center;
        font-size: 35px;
        margin: 0.5em;
        background-color: #ff7b00;
    }
    h2:hover {
        opacity: 0.75;
        color: black;
    }
    h3 {
        font-size: 25px;
        margin: 0.5em;
    }
    p{
        font-size: 18px;
        margin: 0.5em;
        padding-left: 10%;
        padding-right: 10%;
    }
    img {
        height: 100%;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 40%;
        padding-right: 40%;
    }
    li a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    nav {
        background-color: #ff7b00;
        color: #fff;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    nav ul {
        list-style-type: none;
        padding: 1px;
        margin: 0;
        overflow: hidden;
        display: flow-root;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    nav ul a {
        text-decoration: none;
        color: #fff;
        padding: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    nav ul a:hover {
        background-color: white;
        color: black;
    }
    main {
        padding: 0.015px;
    }
    section {
        padding: 1em;
        background-color: #fff;
        margin: 0.5em;
    }
}

@media (min-width: 656px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    footer {
        text-align: center;
        padding: 0.015px;
        background-color: #333;
        color: #fff;
    }
    header {
        background-color: #333333c8;
        color: #fff;
        text-align: center;
        padding: 0.015px;
    }
    h1 {
        font-size: 2.5em;
        margin: 0.5em;
    }
    h2 {
        text-align: center;
        font-size: 35px;
        margin: 0.5em;
        background-color: #ff7b00;
    }
    h2:hover {
        opacity: 0.75;
        color: black;
    }
    h3 {
        font-size: 25px;
        margin: 0.5em;
    }
    p{
        font-size: 18px;
        margin: 0.5em;
        padding-left: 10%;
        padding-right: 10%;
    }
    img {
        height: 100%;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 40%;
        padding-right: 40%;
    }
    li a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    nav {
        background-color: #ff7b00;
        color: #fff;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    nav ul {
        list-style-type: none;
        padding: 1px;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    nav ul a {
        text-decoration: none;
        color: #fff;
        padding: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    nav ul a:hover {
        background-color: white;
        color: black;
    }
    main {
        padding: 0.015px;
    }
    section {
        padding: 1em;
        background-color: #fff;
        margin: 0.5em;
    }
}
